.track-page {
  padding: 20px;
  margin-top: 60px;
}

.track-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.track-input input {
  flex: 1;
  padding: 10px;
}

.track-input button {
  padding: 10px 20px;
  background: #0a6cf1;
  color: #fff;
  border: none;
  cursor: pointer;
}

.track-details {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 25px;
}

.tracker {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
}

.tracker-step {
  position: relative;
  text-align: center;
  flex: 1;
}

/* LINE */
.line {
  position: absolute;
  top: 12px;
  left: -50%;
  width: 100%;
  height: 4px;
  background: #ddd;
  z-index: 0;
}

.line.active {
  background: #0a6cf1;
}

/* CIRCLE */
.circle {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.circle.active {
  background: #0a6cf1;
}

/* TEXT */
.tracker-step p {
  font-size: 12px;
  margin-top: 8px;
  color: #777;
}

.active-text {
  color: #0a6cf1;
  font-weight: 600;
}
